**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
name = input("please enter your name: ")
print(len(name))

please enter your name: ahmed
5

In [2]:
counter = 0
for i in name:
    counter +=1
print(counter)

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
name = input("please enter your name: ")
if len(name) < 2:
    print(" ")
else:
    print(name[0:2]+name[-2:])

please enter your name: ahmed
ahed

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')**

In [8]:
name = input("please enter a name: ")

if len(name) < 3 :
    print(name)
else:
    if name[-3: ] == "ing":
        print(name[:-3]+"ly")
    else:
        print(name + "ing")

please enter a name: playing
playly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)**

In [14]:
list = ["ahmed","ali","abd elrahman","mohamed"]

def returncounter():
    
    counter = 0
    maxword = None
    
    for word in list :
        if len(word) > counter:
            counter = len(word)
            maxword = word
            
    return counter, maxword

In [16]:
returncounter()

(12, 'abd elrahman')

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)**

In [17]:
name = input("please enter a name: ")
print(name[-1] + name[1:-1] + name[0])

please enter a name: ahmed
dhmea

In [18]:
name = input("please enter a name: ")
a = name[0]
b = name[-1]
b + name[1:-1] + a

please enter a name: mohamed

'dohamem'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)**

In [20]:
name = input("please enter a name: ")
print(name[::2])

please enter a name: ahmed raafat
amdraa

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)**

In [28]:
string = "my name is ahmed, ahmed has 21 years old, ahmed father's name is raafat"

word = string.split()
word

for i in word:
    print(i, string.count(i))

my 1
name 2
is 2
ahmed, 1
ahmed 3
has 1
21 1
years 1
old, 1
ahmed 3
father's 1
name 2
is 2
raafat 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases**

In [31]:
name = input("please enter a name: ")
print(name.upper())
print(name.lower())

please enter a name: ahmed
AHMED
ahmed

**9-Write a Python function to reverse a string if its length is a multiple of 4**

In [35]:
name = input("please enter a name: ")

if len(name) % 4 == 0 :
    print(name[::-1])
else:
    print(name)

please enter a name: rami
imar

**10- Write a Python program to remove a newline in Python**

In [37]:
string = '''
ahmed
raafat
ali
'''

string = string.replace("\n", "")
string

'ahmedraafatali'

**11-Write a Python program to check whether a string starts with specified characters**

In [43]:
name = input("please enter a name: ")
ch = 'a'

if name[0] == ch:
    print("okay")
else:
    print("not okay")

please enter a name: ahmed
okay

**12- Write a Python program to add prefix text to all of the lines in a string**

In [50]:
name = '''ahmed is the best
mohamed is aweswom
malik is amazing
'''

lines = name.splitlines()
newlines = ["Mr. "+ line for line in lines]

newlines

['Mr. ahmed is the best', 'Mr. mohamed is aweswom', 'Mr. malik is amazing']

**13-Write a Python program to print numbers up to 2 decimal places**

In [51]:
number = 2.6554554
round(number,2)

2.66

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign**

**15-Write a Python program to display a number with a comma separator**

In [52]:
number = 2.3
newnumber = str(number)
newnumber.replace(".",",")

'2,3'

**16-Write a Python program to reverse a string using 2 ways**

In [57]:
string = input("please enter a name: ")
print(string[::-1])

please enter a name: ahmed
demha

In [58]:
reversed_string = ''.join(reversed("ahmed raafat"))
reversed_string

'tafaar demha'

In [59]:
name = "ahmed raafat"
for i in range(len(name)-1, -1, -1):
    print(name[i], end="")

tafaar demha

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)**

In [62]:
name = "mohamed raafat"
chs = []

for i in name:
    chs.append(i)
    
chs

myd = dict()
for i in chs:
    myd[i] = name.count(i)
    
myd

{'m': 2,
 'o': 1,
 'h': 1,
 'a': 4,
 'e': 1,
 'd': 1,
 ' ': 1,
 'r': 1,
 'f': 1,
 't': 1}

**18-Write a Python program to find the first non-repeating character in a given string**

In [73]:
name = "aabbcsddeeffgg"

for ch in name:
    if name.count(ch) == 1:
        print(ch)
        break

c

**19-Write a Python program to remove spaces from a given string**

In [63]:
name = "ahmed raafat"
name.replace(" ","")

'ahmedraafat'

**20-Write a Python program to count the number of non-empty substrings of a given string**

In [74]:
def number_of_substrings(str):
    str_len = len(str)
    return int(str_len * (str_len + 1) /2)

In [75]:
number_of_substrings("ahmed")

15

**21-write a Python program to swap first and last element of any list.**

In [80]:
list = [20,30,50,90,70,10,980]

temp = list[0]
list[0] = list[-1]
list[-1] = temp

list

[980, 30, 50, 90, 70, 10, 20]

In [83]:
list = [20,30,50,90,70,10,980]
list[0], list[-1] = list[-1] , list[0]
list

[980, 30, 50, 90, 70, 10, 20]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])**

In [86]:
l = [1,4,7,8]

pos1 = int(input())
pos2 = int(input())

l[pos1], l[pos2] = l[pos2], l[pos1]

l

2
3

[1, 4, 8, 7]

**23- search for the all ways to know the length of the list**

In [67]:
name = input("please enter any name: ")
print(len(name))

print("="*30)

counter = 0

for i in name:
    counter +=1
    
counter

please enter any name: ahmed raafat
12
==============================

12

**24-write a Python code to find the Maximum number of list of numbers.**

In [87]:
max([2,3,4,5,6,7,8,9,10,100])

100

**25-write a Python code to find the Minimum number of list of numbers.**

In [88]:
min([1,2,3,4,5,6,80,90,0])

0

**26-search for if an elem is existing in list**

In [89]:
l = [1,2,3,4,5,6,7,8]

if l.count("ahmed") ==0:
    print("not found")

not found

**27- clear python list using different ways**

In [90]:
l = [1,2,3,4,5,6,7,8,9,10]

l.clear()

l

[]

In [92]:
l = [1,2,3,4,5,6]

while len(l) != 0:
    l.pop()
    
l

[]

**28-remove duplicated elements from a list**

In [97]:
l = [1,2,3,1,2,3,4,5,11,1]

l = set(l)
l

{1, 2, 3, 4, 5, 11}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])**

In [81]:
test_list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]

print("The original list : " ,test_list)

key_list = ["name", "number"]

n = len(test_list)
res = [{key_list[0]: test_list[idx], key_list[1]: test_list[idx + 1]}
       for idx in range(0, n, 2)]


print("The constructed dictionary list : " ,res)

The original list :  ['Gfg', 3, 'is', 8, 'Best', 10, 'for', 18, 'Geeks', 33]
The constructed dictionary list :  [{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

**30-write a python program to count unique values inside a list using different ways**

In [53]:
list = [1,1,1,2,3,4,5,6,7,3,4,5,6,7]

empty_list = []

counter = 0

for i in list:
    if i not in empty_list:
        counter += 1
        empty_list.append(i)
        
print(counter)

7

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )**

In [57]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]

k = 3

empty_list = []

for i in test_list:
    
    freq = test_list.count(i)
    
    if freq > k and i not in empty_list:
        empty_list.append(i)
        
print(empty_list)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)**

In [1]:
list1 = [1,2,2,3,4,5]
list2 = []

for i in range(1,len(list1)):
    r = max(list1[i],list1[i-1])
    list2.append(r)
    
    
print(list2)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)**

In [58]:
num1 = int(input("please enter number 1 :"))
num2 = int(input("please enter number 2 :"))
num3 = int(input("please enter number 3 :"))

d = []

d.append(num1)
d.append(num2)
d.append(num3)

for i in range(3):
    for j in range(3):
        for k in range(3):
            
            if i!=j and j!=k and i!=k:
                
                print(d[i], d[j], d[k])

please enter number 1 :1
please enter number 2 :2
please enter number 3 :3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])**

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )**

In [68]:
list_1 = ["a","b"]
list_2 = [1,2]
 
unique_combinations = []
 
for i in range(len(list_1)):
    for j in range(len(list_2)):
        unique_combinations.append((list_1[i], list_2[j]))
 
print(unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1**

Output : 2 3 4 5 2)

In [82]:
test_list = [1,1,2,3,4,5,1,2,1]

ele=1

x=[i for i in test_list if i!=ele]

print(x)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])**

In [11]:
test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
 
print("The original list 1 is : " + str(test_list1))
print("The original list 2 is : " + str(test_list2))

res = [test_list1[idx] for idx in test_list2]

print ("The lists after index elements replacements is : " + str(res))

The original list 1 is : ['Gfg', 'is', 'best']
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )**

In [80]:
test_list = [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]

print("The original list is : " , test_list)

K = 4

N = 3

res = [ele for ele in test_list if ele.count(K) == N]

print("Filtered tuples : " ,res)

The original list is :  [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]
Filtered tuples :  [(4, 5, 6, 4, 4), (4, 4, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]**

Original list:
[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

Sort the list of lists by length and value:
[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}**

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [2]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
 
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}**

In [9]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
 
print("The original dictionary is : " + str(test_dict))

K = 6

res = {}
for key in test_dict:
   
    if not (isinstance(test_dict[key], int) and test_dict[key] > K):
        res[key] = test_dict[key]
         
print("The constructed dictionary : " + str(res))

The original dictionary is : {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
The constructed dictionary : {'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one**

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [4]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): 
    dic4.update(d)
    
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops**

In [66]:
mydict = {
    "name":"ahmed",
    "age":21,
    "country":"egypt",
    "gender":"male"
}

for key in mydict:
    print(key, mydict[key])

name ahmed
age 21
country egypt
gender male

**44- Write a Python script to merge two Python dictionaries**

In [59]:
dict1 = {"a":100,
         "b":200,
         "c":300
        }

dict2 = {
    "d":400,
    "e":500,
    "f":600
}

dict3 = dict1.copy()
dict3.update(dict2)

dict3

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500, 'f': 600}

**45-Write a Python program to get the maximum and minimum values of a dictionary values**

In [19]:
dict = {'c1':5 , 'c2': 6 , 'c3' : 100}

print(max(dict))

print("="*30)

print(min(dict))

c3
==============================
c1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}**

In [60]:
dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}

dict.pop('c3')

dict

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item**

In [24]:
mytuple = (1,2,3,4,5)
print(mytuple[0])

1

**48-Write a Python program to unpack a tuple into several variables**

In [34]:
tuple1 = ("cairo university", 5000, "software engineering")

(college, students, type_of_colloge) = tuple1

print(college)
print(students)
print(type_of_colloge)

cairo university
5000
software engineering

**49-Write a Python program to add an item to a tuple**

In [25]:
a = (1,2,3,4)
b = (5,6,7,8)

c = a + b

print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

**50-Write a Python program to convert a tuple to a string**

In [33]:
mytuple = ("ahmed", "mohamed", "malik")

str = " ".join(mytuple)

str

'ahmed mohamed malik'

**51-Write a Python program to convert a list to a tuple**

In [5]:
list_names=['Meredith', 'Kristen', 'Wright', 'Franklin']
tuple_names= tuple(list_names)
print(tuple_names)
print(type(tuple_names))

('Meredith', 'Kristen', 'Wright', 'Franklin')
<class 'tuple'>

**52-Write a Python program to reverse a tuple**

In [2]:
tuple = (1,2,3,4,5,6,7,8,9,10)
new_tuple = tuple[::-1]
print(new_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]**

In [48]:
list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[:-1] + (10,) for t in list])

[(10, 20, 10), (40, 50, 10), (70, 80, 10)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')**

In [8]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print("Original string:")
print(str1)
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

Original string:
python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples**

In [7]:
test_list = [(1, 4, 5), (7, 8), (2, 4, 10)]
 
print("The original list is : " + str(test_list))

sum = 0
for sub in test_list:
    for i in sub:
        sum = sum + i
res = sum / len(test_list)
 
print("The average of tuple list is : " + str(res))

The original list is : [(1, 4, 5), (7, 8), (2, 4, 10)]
The average of tuple list is : 13.666666666666666

**56-Write a Python program to add member(s) to a set.**

In [103]:
set = {2,3,4,5}
set.add(1)
set

{1, 2, 3, 4, 5}

**57-Write a Python program to remove an item from a set if it is present in the set.**

In [102]:
set = {1,2,3,4,5}
set.remove(3)
set

{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets**

In [64]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

print("union : ", A|B)

print("intersection : ", A&B)

print("difference : ", A-B)

print("symmetric difference : ", A^B)

union :  {0, 1, 2, 3, 4, 5, 6, 8}
intersection :  {2, 4}
difference :  {0, 8, 6}
symmetric difference :  {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set**

In [100]:
print(max({1,2,3,4,5,6}))
min({1,2,3,4,5,6,0})

6

0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.**

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10]
target = 12

new_list = []

for i in range(len(list1)):
    for j in range(i+1, len(list1)):
        if list1[i] + list1[j] == target:
            new_list.append((list1[i], list1[j]))
            
            
print(new_list)

[(2, 10), (3, 9), (4, 8), (5, 7)]