### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [1]:
num1 = int(input("please enter number1 :"))
num2 = int(input("please enter number2 :"))

num1 + num2

please enter number1 :5
please enter number2 :6

11

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [2]:
number = int(input("please enter a number: "))

if number % 2 == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

please enter a number: 88
88 is even

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [3]:
for number in range(1, 20):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [4]:
def count_vowels(str):
    
    vowels = 'aeiouAEIOU'
    
    counter = 0
    
    for char in str:
        
        if char in vowels:
            
            counter += 1
            
    return counter

In [5]:
count_vowels("qwqw")

0

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [6]:
list = [1,2,3,4,5,6,7,8,9,10]

for number in list:
    print(number ** 2)

1
4
9
16
25
36
49
64
81
100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [7]:
student_name = input('Enter your name')
student_subjects= ['English' , 'Arabic' , 'Math']

subject_scores = []

for subject in student_subjects:
    
    score = float(input(f'Enter the score of the subject {subject}'))
    
    subject_scores.append(score)
    
average_grade = sum(subject_scores) / len(subject_scores)

print(average_grade)

if average_grade > 70:
    print('Congratulations')
else:
    print('failled')

Enter your nameahmed
Enter the score of the subject English80
Enter the score of the subject Arabic90
Enter the score of the subject Math100
90.0
Congratulations

#### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [8]:
def comman_list(list1, list2):
    list3 = []
    
    for element in list1:
        
        if element in list2:
            
            list3.append(element)
            
    return list3

In [9]:
comman_list([1,2,3,4,5,6],[55,6,9,6,1,2,34,5])

[1, 2, 5, 6]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [10]:
def removal_element(list, element):
    
    for i in list:
        if element in list:
            
            print(i)
            list.remove(i)
    return list

In [11]:
removal_element([1,2,3,4,5,6],4)

1
3
5

[2, 4, 6]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [12]:
num1 = int(input("please enter first number: "))
num2 = int(input("please enter second number: "))
num3 = int(input("please enter third number: "))
num4 = int(input("please enter fourth number: "))

multi = num1 * num2 * num3 * num4

print(multi)

please enter first number: 5
please enter second number: 55
please enter third number: 100
please enter fourth number: 200
5500000

### 10- Given a number X. Determine if the number is prime or not

In [24]:
number = int(input("please enter number : "))

if number <= 1:
    print(f"{number} is not a prime number")
else:
    for i in range (2, number):
        if number % i == 0:
            print(f"{number} is not a prime number")
            break
        else:
            print(f"{number} is a prime number")

please enter number : 6
6 is not a prime number

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [29]:
list = [1,2,3,4,5,6,7,8,9,10]
number = 2

for i in list:
    if number == i:
        print(f"{number} is exist and it's postion is {list.index(i)+1}")
        break
        
else:
    print("the number does not exist")

2 is exist and it's postion is 2

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the list is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [31]:
l = [5,2,6,8,7,6,0,1]

minimum = l[0]

counter = 0

for i in l:
    if i < minimum:
        minimum = i
        
for i in l:
    
    if i == minimum:
        
        counter += 1

if counter % 2 !=0:
    print('lucky')
else:
    print('unlucky')

lucky

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [37]:
list = [1,2,3,4,5,6,100,151,20,9090]

max1 = max(list)
min1 = min(list)

index1 = list.index(max1)
index2 = list.index(min1)

temp = index1

list[index1] = min1
list[index2] = max1

In [38]:
list

[9090, 2, 3, 4, 5, 6, 100, 151, 20, 1]

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [41]:
list = [5,2,1,3,9,1,0]

minimum = list[0]
index = 0

for i in range(len(list)):
    if list[i] < minimum:
        
        minimum = list[i]
        
        index = i
        
print(f"{minimum} is the lowest number and it's postion is {index +1}")

0 is the lowest number and it's postion is 7

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [53]:
list = [10,26,80,90,100,150,2,0,98]

n = len(list)

for i in range(n):
    
    for j in range(i, n):
        
        if i != j:
            
            if list[i] > list[j]:
                
                temp = list[j]
                list[j] = list[i]
                list[i] = temp

In [46]:
list

[0, 2, 10, 26, 80, 90, 98, 100, 150]

### 16- Write a Python program to remove spaces from a given string

In [55]:
name = input("please enter your name: ")

name.replace(" ","")

please enter your name: ahmed raafat

'ahmedraafat'

### 17-write a Python program to swap first and last element of any list.

In [65]:
list = [10,2,0,1,6,8,80,90]

print(list)

print("="*40)

list[0] = list[-1]

list

[10, 2, 0, 1, 6, 8, 80, 90]
========================================

[90, 2, 0, 1, 6, 8, 80, 90]

### 18- Write a Python program to add member(s) to a set

In [66]:
set = {2,3,5}
set.add(4)
set

{2, 3, 4, 5}

### 19-Write a Python program to remove an item from a set if it is present in the set

In [67]:
set = {10,20,30,40}
set.remove(40)
set

{10, 20, 30}

### 20-Write a Python program to get the maximum and minimum values of a dictionary values

In [72]:
dict = {'c1':5 , 'c2': 6 , 'c3' : 100}

max(dict)

'c3'

In [73]:
min(dict)

'c1'

### 21-Write a Python program to drop empty items from a given dictionary.Original Dictionary:{'c1': 'Red', 'c2': 'Green', 'c3': None}New Dictionary after dropping empty items:{'c1': 'Red', 'c2': 'Green'}

In [74]:
dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}

dict.pop('c3')

dict

{'c1': 'Red', 'c2': 'Green'}